{% extends 'base.html' %}{% load static %}
{% block 'cabecalho' %} <link rel="stylesheet" href="{% static 'perfil/css/pet.css'%}"> {% endblock %}
<!-- <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> -->
{% block 'conteudo' %}
    <div class="container">
        <h3 class="slogan">Perfil de Pet</h3>
        <h2 class='texto'>Para a sua melhor interação com os outros usuários<br>
            Mantenha sempre os dados do seu pet atualizados</h2>
        <form class="form" action="{% url 'tutor' %}" method="POST">{% csrf_token %}
            {% if messages %}
                {% for message in messages %}
                    <section class="alert {{message.tags}}">
                        {{message}}
                    </section>
                {% endfor %}
            {% endif %}
            <input class="input" type="texto" name="pet" placeholder="Nome do Pet" required value="{{pet.pet}}" autofocus>
            <input class="input" type="image" id="fotos" placeholder="Adicionar..." required value="{{ fotos }}">
            <input class="input" type="texto" name="raca" placeholder="Raça do seu Pet" required value="{{pet.raca}}">
            <h3 class="texto">Data de Vacinação</h3>
            <input class="texto" type="date" name="dtVaci" required value="{{ pet.dtVaci }}">
            <h3 class="texto">Data de Nascimento</h3>
            <input class="texto" type="date" name="dtNasc" required value="{{ pet.dtNasc }}">
            <select class="input" name="sexo" required>
                <option value="">Selecione o sexo</option>
                <option value="Masculino">Masculino</option>
                <option value="Feminino">Feminino</option>
            </select>
            <div class="pedigre">
                <h3 class="texto">Pedigree</h3>
                <input class="check" type="checkbox" name="pedigree" value="1"{% if pedigree == "1" %} checked{% endif %}>
            </div>
            <input class="input" type="text" name="obs" placeholder="Informações" required value="{{ pet.obs }}">
            <div class="botoes">
                <input class="botao" type="submit" value="Confirmar">
            </div>
        </form>
    </div>
{% endblock 'conteudo' %}