{% extends 'base.html' %}
{% load static %}
{% block 'cabecalho' %}
    <link rel="stylesheet" href="{% static 'perfil/css/tutor.css'%}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}

{% block 'conteudo' %}
    <div class="container">
        <h3 class="titulo">Seja muito bem vindo(a): {{usuario}}</h3>
        <br><br>

        <h2 class='texto'>Para que você tenha a melhor experiência possivel<br>
            Mantenha sempre seus dados atualizados</h2>
        <br>
        <br>

        {% if messages %}
            {% for message in messages %}
                <section class="alert {{message.tags}}">
                    {{message}}
                </section>
            {% endfor %}
        {% endif %}

        <form class="texto" action="{% url 'cadastrar_tutor' %}" method="POST">{% csrf_token %}
            <input type="hidden" name="usuario" value="{{usuario}}">

            <h2 class='texto'>Nome do(a) Tutor(a)</h2>
            <input class="texto" type="texto" name="tutor" id="" placeholder="Nome Completo" required autofocus>
            <br><br>

            <h2 class='texto'>Celular WhatsApp</h2>
            <input class="texto" type="tel" name="celular" id="" placeholder="DDD + 12345 - 6789" maxlength="12" pattern="[0-9]{1,12}" required>
            <br><br>

            <div>
                <label></label>
                <select class="" name="">
                    <option value=""></option>
                </select>
            </div>

            <div class="botoes-container">
                <input class="botao" type="button" onclick="window.location.href = '{% url "home" %}'" value="Cancelar">
                <input class="botao" type="submit" value="Registrar">
            </div>

        </form>
    </div>
{% endblock 'conteudo' %}