body{
    background-image: url("/static/usuarios/img/termos.svg");
}
.container {
    justify-content: center;
    margin-top: 0px;
}
.checkbox{
    display: flex;
    justify-content: center;
}
.checkbox .check{
    height: 50px;
    width: 50px;
    transform: scale(1);
    margin-left: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}