body{
    background-image: url("/static/usuarios/img/termos.svg");
}
.container {
    justify-content: center;
    margin-top: 0px;
}
.checkbox{
    display: flex;
    justify-content: center;
}
.checkbox .check{
    height: 35px;
    width: 35px;
    transform: scale(1);
    margin-left: 10px;
    align-items: center;
}