body{
    background-image: url("/static/perfil/img/pet.svg");
}
.container {
    justify-content: center;
    margin-top: 0px;
}
.pedigre{
    display: flex;
    justify-content: center;
}
.pedigre .check{
    height: 35px;
    width: 35px;
    transform: scale(1);
    margin-left: 10px;
}