body{
    background-color: #00a8f3; /* Cor de fundo da tela */
    background-repeat: no-repeat; /* Define que a imagem de fundo serÃ¡ exibida apenas uma vez. */
    background-position: center center; /* A imagem de fundo serÃ¡ centralizada horizontal e verticalmente */
    background-size: contain; /* Escala a imagem de fundo para caber no container, mantendo a proporÃ§Ã£o */
    background-attachment: fixed; /* Fixa a imagem de fundo na tela, independentemente do scroll */
}
.alert{
    text-align: center;
}
.menu {
    width: 100%;
    transition: 0.1s;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 0;
    margin: 0;
}
.menu button {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: bold;
    background: transparent;
    cursor: pointer;
    color: white;
    font-family: 'Great Vibes', cursive;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    width: 100%;
    margin-bottom: 0;
}
.menu button:hover{
    color: yellow;
    transition: 0.2s;
    border: 1px solid yellow;
    border-radius: 5px;
    background-color: #00709b;
}
.user{
    text-align: center;
    font-family: 'Great Vibes', cursive;
    color: #fff;
}
.container {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column; /* alinha os elementos em coluna */
    align-items: center; /* centraliza os elementos */
    justify-content: flex-end;
    margin-top: -70px; /* coloca os elementos um pouco acima do footer */
}
.slogan {
    font-family: 'Great Vibes', cursive;
    font-size: clamp(40px, 4vw, 100px); /* Define um tamanho de fonte entre 20px e 4vw, escolhendo o maior */
    color: #00a8f3;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    margin-bottom: 1%;
}
.texto {
    font-family: 'Great Vibes', cursive;
    text-align: center;
    color: #fff;
    -webkit-text-stroke-width: 1.5px; /* Largura da borda */
    -webkit-text-stroke-color: black; /* Cor da borda */
    margin-bottom: 0;
}
.form {
    display: flex;
    justify-content: center;
    flex-direction: column; /* Garante que os elementos estejam empilhados verticalmente */
    gap: 10px; /* Define o espaÃ§amento entre os elementos filhos */
    width: 350px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.form .input {
    font-family: 'Great Vibes', cursive;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    width: 100%;
}
.form .botoes {
    display: flex;
    width: 100%;
}
.form .botao {
    font-family: 'Great Vibes', cursive;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    background-color: #00a8f3;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    width: 100%;
    margin-bottom: 0;
}
.form .botao:hover {
    background-color: #00709b;
}
footer {
    background-color: #333; /* Cor de fundo do footer */
    color: white; /* Cor do texto no footer */
    text-align: center; /* Alinhamento centralizado do texto */
    width: 100%; /* Largura total */
    position: fixed; /* Fixa o elemento na posiÃ§Ã£o especificada */
    bottom: 0; /* Fixa o footer no rodapÃ© da pÃ¡gina */
}
p{
    margin-top: 0;
    margin-bottom: 0;
}
.link{
    color: yellow;
}
.alert {
    padding: 10px;
    margin: 0px 0;
    border: 1px solid;
}