:root{
    box-sizing: border-box;
    --main-color: #0b1526;
    --dark-color: #000716;
    --secondary-dark-color: rgb(15, 2, 26);
    --light-color: #00c1f3;
    --contrast-color: #f4c96b;
    --differential-color: #58fcd5;
}
body{
    background-color: #00a8f3;
}
.slogan {
    font-family: 'Great Vibes', cursive;
    font-style: normal;
    font-size: 40px;
    color: #00a8f3;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 1);
    -webkit-text-stroke: 1px #000000;
    margin-bottom: 30px;
}
.divisor{
    border: 1px;
    height: 1px;
    color: black;
    display: block;
}
.titulo{
    font-family: 'Apple Chancery', cursive;
    font-style: italic;
    font-size: 35px;
}
.texto{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.botao{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid #000000;
}