:root{
    box-sizing: border-box;
    --main-color: #0b1526;
    --dark-color: #000716;
    --secondary-dark-color: rgb(15, 2, 26);
    --light-color: #00c1f3;
    --contrast-color: #f4c96b;
    --differential-color: #58fcd5;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c0ce94d;
}