{% extends 'base.html' %}{% load static %}
{% block 'cabecalho' %} <link rel="stylesheet" href="{% static 'usuarios/css/cadastrar.css'%}"> {% endblock %}

{% block 'conteudo' %}
    <div class="container">
        <h3 class="slogan">Perfil de Usuário</h3>
        <h2 class='texto'>Registre e anote sua senha para acessar a plataforma</h2>
        <form class="form" action="{% url 'realizar_cadastro' %}" method="POST">{% csrf_token %}
            {% if messages %}
                {% for message in messages %}
                    <section class="alert {{message.tags}}">
                        {{message}}
                    </section>
                {% endfor %}
            {% endif %}
            <input class="input" type="texto" name="usuario" value="{% if usuario.is_authenticated %}{{ usuario.username }}{% else %}{{ usuario }}{% endif %}" placeholder="Seu login!" required>
            <input class="input" type="password" name="senha" id="senha" placeholder="Sua nova senha!" required autofocus>
            <input class="input" type="password" name="confirmar_senha" id="confirmar_senha" placeholder="Repita sua nova senha!" required>
            <div class="botoes">
                {% if usuario.is_authenticated %}
                    <input class="botao" type="submit" name="delete" value="Excluir Conta">
                {% else %}
                    <input class="botao" type="button" onclick="window.location.href = '{% url "logout" %}'" value="Sair">
                {% endif %}
                <input class="botao" type="submit" name="create/update" value="Registrar">
            </div>
        </form>
    </div>
{% endblock 'conteudo' %}