{% extends 'base.html' %}{% load static %}
{% block 'cabecalho' %} <link rel="stylesheet" href="{% static 'usuarios/css/termos.css'%}"> {% endblock %}

{% block 'conteudo' %}
    <div class="container">
        <p class="slogan">Bem vindo(a): {{usuario}}</p>
        <h2 class='texto'>Para prosseguir com o seu cadastro na plataforma<br>
            É preciso que leia os termos de uso com atenção<br>
            Caso concorde, marque o checkbox e click em concordei</h2>
        <h1 class='texto'>Termos de uso: <a href="https://policies.tinder.com/safety-and-policy/intl/pt/?lang=pt" target="_blank" class='link'>Ler os termos</a></h1>
        <form class="form" action="{% url 'termos' %}" method="POST">{% csrf_token %}
            {% if messages %}
                {% for message in messages %}
                    <section class="alert {{message.tags}}">
                        {{message}}
                    </section>
                {% endfor %}
            {% endif %}
            <input type="hidden" name="usuario" value="{{usuario}}">
            <div class="checkbox">
                <div>
                    <h3 class='texto'>Chequei os termos!</h3>
                </div>
                <div>
                    <input class="check" type="checkbox" name="checkTermos" id="">
                </div>
            </div>         
            <div class="botoes">
                <input class="botao" type="button" onclick="window.location.href = '{% url "/" %}'" value="Voltar">
                <input class="botao" type="submit" value="Concordei">
            </div>
        </form>
    </div>
{% endblock 'conteudo' %}